<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.map"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Auto Mechanics"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Map"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".payment_towing"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".payment_mech"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login_tow"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login_customer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".done"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login_mechanic"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".account_deactivation_mechanic"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".account_deactivate_towing"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".custFeedbackforTowing"
            android:exported="false" />
        <activity
            android:name=".custFeedbackforMech"
            android:exported="false" />
        <activity
            android:name=".custBillByMech"
            android:exported="false" />
        <activity
            android:name=".AfterConfirmMechanicByCust"
            android:exported="false" />
        <activity
            android:name=".cust_confirm_mechanic"
            android:exported="false" />
        <activity
            android:name=".AfterConfirmTowingByCust"
            android:exported="false" />
        <activity
            android:name=".cust_confirm_towing"
            android:exported="false"
            android:label="cust_confirm_towing" />
        <activity
            android:name=".cust_BIll"
            android:exported="false" />
        <activity
            android:name=".tryNewActivity"
            android:exported="false" />
        <activity
            android:name=".after_accept_request_of_towing_for_customer"
            android:exported="false" />
        <activity
            android:name=".towingProfileForCust"
            android:exported="false" />
        <activity
            android:name=".MechMapsActivity"
            android:exported="false" />
        <activity
            android:name=".current_tow_profile_fromMap"
            android:exported="false" />
        <activity
            android:name=".registerall"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Towing_home"
            android:exported="false" />

        <activity
            android:name=".cust_mainHome"
            android:exported="false" />
        <activity
            android:name=".language_user"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".mechanic_profile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwUy-M8EZ4k8pRH1QaCXYl97l1tXhnHsM" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".otp_verification"
            android:exported="false" />
    </application>

</manifest>